{
  "presets": [
    "next"
  ],
  "plugins": [

  ],
  "bl": [

  ],
  "env": {
    "test": {
      "plugins": [
        "./test/_setup/arrow-function-coverage-fix.js",
        "istanbul"
      ]
    }
  },
  "ignore": [
    "src/lib/vendor/**/*.*",
    "./test/_setup/arrow-function-coverage-fix.js"
  ]
}
